{% extends "app/layout.html" %}
{% load i18n allauth account %}
{% load widget_tweaks %}
{% block title %} Yala - Recuperar contraseña {% endblock %}
{% block navbar %}
    <header>
        <div class="pl-0 navbar bg-base-100">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a>Inicio</a></li>
                        <li>
                            <a>Acerca de</a>
                        </li>
                        <li><a>Precio</a></li>
                    </ul>
                </div>
                <a href="{% url 'app:home' %}" class="pl-0 font-semibold text-xl">Yala</a>
            </div>
    </header>
{% endblock %}
{% block content %}
    <div class="flex flex-col my-10 justify-center">
        <div class="mx-auto text-sm md:text-base w-full md:w-3/5">
        <h1 class="text-2xl font-bold text-center mb-5">
            {% trans "Recuperar contraseña" %}
        </h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-center">
            {% trans "¿Olvidaste tu contraseña? Introduzca su dirección de correo electrónico y le enviaremos un mensaje para que pueda restablecerla." %}
        </p>
        {% url 'account_reset_password' as reset_url %}
        {% element form form=form method="post" action=reset_url %}
            {% slot body %}
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-sm font-bold mb-2" for="email">
                        Correo electrónico
                    </label>
                    {% render_field form.email placeholder="Escribe tu correo" class+="rounded-md text-slate-700 text-sm input input-bordered w-full" %}
                </div>
            {% endslot %}
            <div class="mb-2">
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <span class="text-sm text-error">
                            {{ error|escape }}
                        </span>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <span class="text-sm text-error">
                        {{ error|escape }}
                    </span>
                {% endfor %}
                {% endif %}
            </div>
            {% slot actions %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Recuperar mi contraseña' %}
                </button>
            {% endslot %}
        {% endelement %}
        <p class="text-sm py-2">{% blocktrans %}Póngase en contacto con nosotros si tiene problemas para restablecer su contraseña.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock content %}