{% extends "app/layout.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block title %} Yala - Recuperación {% endblock %}
{% block navbar %}
    <header>
        <div class="pl-0 navbar bg-base-100">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a>Inicio</a></li>
                        <li>
                            <a>Acerca de</a>
                        </li>
                        <li><a>Precio</a></li>
                    </ul>
                </div>
                <a href="{% url 'app:home' %}" class="pl-0 font-semibold text-xl">Yala</a>
            </div>
    </header>
{% endblock %}
{% block content %}
    <div class="flex flex-col my-10 justify-center">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="mx-auto text-sm md:text-base w-full md:w-3/5">
            <h1 class="text-2xl font-bold text-center mb-5">
                {% trans "Recuperar contraseña" %}
            </h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                {% blocktrans %}Le hemos enviado un correo electrónico. Si no lo ha recibido, compruebe su carpeta de correo spam. De lo contrario, póngase en contacto con nosotros si no lo recibe en unos minutos.{% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock content %}