{% extends 'app/layout.html' %} 
{% load allauth i18n %} 
{% load account %} 
{% block title %} Yala - Dashboard {% endblock %} {% block navbar %}
<header>
  <div class="pl-0 navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a>Inicio</a></li>
          <li>
            <a>Acerca de</a>
          </li>
          <li><a>Precio</a></li>
        </ul>
      </div>
      <a href="{% url 'app:home' %}" class="pl-0 font-semibold text-xl">Yala</a>
    </div>
    <div class="navbar-end">
        {% url 'account_logout' as action_url %}
        {% element form method="post" action=action_url no_visible_fields=True %}
            {% slot body %}
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                <button class="btn" type="submit">
                    {% trans 'Salir' %}
                </button>
            {% endslot %}
        {% endelement %}
    </div>
  </div>
</header>
{% endblock %} 
{% block content %}
<div class="flex flex-col my-10 justify-center">
  <p class="text-lg">Bienvenido al dashboard {{ request.user.email }}</p>
  <p>{% user_display user %}</p>
  {% if not email_verified %}
      <p>Hemos enviado un email a {{ request.user.email }}, verifica tu cuenta</p>
  {% endif %}
</div>
{% endblock %} {% block footer %}{% endblock %}
