{% extends 'app/layout.html' %}

{% block title %} Yala - Ingreso {% endblock %}

{% block navbar %}
<header>
    <div class="pl-0 navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Inicio</a></li>
                    <li>
                        <a>Acerca de</a>
                    </li>
                    <li><a>Precio</a></li>
                </ul>
            </div>
            <a href="{% url 'app:home' %}" class="pl-0 font-semibold text-xl">Yala</a>
        </div>
</header>
{% endblock %}

{% block content %}
<div class="flex flex-col my-10 justify-center">
    <div class="mx-auto text-sm md:text-base w-full md:w-3/5">
        <h1 class="text-2xl font-bold text-center mb-5">Que bueno tenerte de vuelta</h1>
        <form class="shadow-md rounded px-2 md:px-8 pt-4 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="email">
                    Correo electrónico
                </label>
                <input id="email" name="email" type="email" placeholder="Escribe tu correo"
                    class="rounded-md input input-bordered w-full" hx-post="{% url 'app:validate-login' %}"
                    hx-trigger="keyup changed delay:500ms" hx-target="#email-validation" />
                <span id="email-validation" class="text-sm text-error"></span>
            </div>
            <div class="mb-6">
                <label class="block text-sm font-bold mb-2" for="password">
                    Contraseña
                </label>
                <input id="password" name="password" type="password" placeholder="Escribe tu contraseña"
                    class="rounded-md input input-bordered w-full" hx-post="{% url 'app:validate-login' %}"
                    hx-trigger="keyup changed delay:500ms" hx-target="#password-validation" />
                <span id="password-validation" class="text-sm text-error"></span>
            </div>
            <div class="flex items-center justify-between">
                <button class="btn btn-primary" type="submit">
                    Ingresar
                </button>
                <div class="text-right flex flex-col">
                    <a class="link link-primary" href="{% url 'app:register' %}">
                        Registrarme
                    </a>
                    <a class="link link-primary" href="#">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>

            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2024 Yala. Todos los derechos reservados.
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}