{% extends 'app/layout.html' %}

{% block title %} Yala - Registro {% endblock %}

{% block navbar %}
<header>
    <div class="pl-0 navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Inicio</a></li>
                    <li>
                        <a>Acerca de</a>
                    </li>
                    <li><a>Precio</a></li>
                </ul>
            </div>
            <a href="{% url 'app:home' %}" class="pl-0 font-semibold text-xl">Yala</a>
        </div>
</header>
{% endblock %}

{% block content %}
<div class="flex flex-col my-10 justify-center">
    <div class="mx-auto w-full md:w-3/5">
        <h1 class="text-2xl font-bold text-center mb-2">Bienvenido a bordo emprendedor!</h1>
        <form class="shadow-md rounded px-2 md:px-8 pt-2 pb-8 mb-2">
            <div class="mb-2">
                <label class="block text-sm font-bold mb-2" for="email">
                    E-mail
                </label>
                <input id="email" type="email" placeholder="Escribe tu e-mail"
                    class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
            </div>
            <div class="flex items-center gap-x-2">
                <div class="mb-2 w-full">
                    <label class="block text-sm font-bold mb-2" for="firstname">
                        Nombres
                    </label>
                    <input id="firstname" type="text" placeholder="Tus nombres"
                        class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
                </div>
                <div class="mb-2 w-full">
                    <label class="block text-sm font-bold mb-2" for="lastname">
                        Apellidos
                    </label>
                    <input id="lastname" type="text" placeholder="Tus apellidos"
                        class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-x-2">
                <div class="mb-2 w-full">
                    <label class="block text-sm font-bold mb-2" for="dni">
                        DNI
                    </label>
                    <input id="dni" type="text" placeholder="Tu DNI"
                        class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
                </div>
                <div class="mb-2 w-full">
                    <label class="block text-sm font-bold mb-2" for="lastname">
                        Fecha de nacimiento
                    </label>
                    <input id="date_of_birth" type="date" class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
                </div>
            </div>
            <div class="mb-2">
                <label class="block text-sm font-bold mb-2" for="password">
                    Nro. de Celular
                </label>
                <input id="cellphone" type="tel" placeholder="Tu número de celular"
                    class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
            </div>
            <div class="mb-2">
                <label class="block text-sm font-bold mb-2" for="password1">
                    Contraseña
                </label>
                <input id="password1" type="password" placeholder="Escribe tu contraseña"
                    class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
            </div>
            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="password2">
                    Repetir Contraseña
                </label>
                <input id="password2" type="password" placeholder="Escribe tu contraseña de nuevo"
                    class="rounded-md text-sm text-slate-700 input input-bordered w-full" />
            </div>
            <div class="flex items-center justify-between">
                <button class="btn btn-primary" type="submit">
                    Registrarme
                </button>
                <a class="link link-primary" href="{% url 'account_login' %}">
                    Ingresar
                </a>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2024 Yala. Todos los derechos reservados.
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}